:root {
	--color-dark: hsl(0, 0%, 20%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
	font-size: 100%;
}

#canvas {
	background: var(--color-dark);
	position: absolute;
	left: 0;
	top: 0;
}

#text-input {
	outline: none;
	font-size: 1rem;
	display: block;
	position: relative;
	width: calc(50%);
	min-width: 400px;
	padding: 0.5em 1em;
	margin: 2em auto;
	text-align: center;
	z-index: 100;
}
