@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);

:root {
	--white-500: #ccffdd;
	--green-300: #00ff88;
	--green-400: #00cc66;
	--green-700: #0b2b21;
	--green-800: #061a14;

	--color-start: var(--white-500);
	--bg-body: radial-gradient(
		circle at center,
		var(--green-700),
		var(--green-800)
	);
}

:root {
	--text-font: 'Press Start 2P', monospace;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	font-family: var(--text-font);
}

body {
	background: var(--bg-body);
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

/* ==============================
   Start Screen Overlay
============================== */
.start-screen {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-content {
	text-align: center;
	color: #e6fff2;
	display: flex;
	flex-direction: column;
	align-items: center;

	.game-title {
		font-size: 3rem;
		letter-spacing: 4px;

		color: #e6fff2;

		text-shadow:
			0 0 5px var(--green-300),
			0 0 10px var(--green-300),
			0 0 20px var(--green-400),
			2px 2px #003322;

		animation: pulseGlow 2s infinite;
	}

	.game-subtitle {
		font-size: 0.7rem;
		margin-top: 15px;
		color: #99ffcc;

		text-shadow: 0 0 5px #00ffcc;
	}

	.menu-box {
		margin-top: 40px;
		padding: 20px;
		border: 2px solid var(--green-300);
		border-radius: 10px;

		background: #00ff880d;
		box-shadow: 0 0 15px rgba(0, 255, 136, 0.2);

		font-size: 0.6rem;
		line-height: 1.8;
	}

	.start-text {
		margin-top: 50px;
		font-size: 0.8rem;
		color: var(--color-start);

		text-shadow: 0 0 8px var(--green-300);

		animation: blink 1.2s infinite;
	}
}

/* ==============================
   Animations
============================== */
@keyframes blink {
	50% {
		opacity: 0.3;
	}
}

@keyframes pulseGlow {
	0% {
		text-shadow: 0 0 5px var(--green-300);
	}
	50% {
		text-shadow: 0 0 25px var(--green-300);
	}
	100% {
		text-shadow: 0 0 5px var(--green-300);
	}
}

/* ==============================
   Responsive
============================== */
@media (max-width: 650px) {
	.game-title {
		font-size: 1.5rem;
	}

	.menu-box {
		font-size: 0.5rem;
	}

	.start-text {
		font-size: 0.6rem;
	}
}
